:root {
    --color-primary: rgb(195, 105, 62);
    --color-secondary: rgb(40, 139, 116);
    --color-dark: rgb(78, 48, 41);
    --color-pop: #9C0C4F;
    --color-light: rgb(251, 246, 241);
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: var(--color-primary) !important;
}



/*Author Header*/

.authorBox{
    background-color: var(--color-primary);
  
    border-radius: 10px;
    border-style: groove;
    border-width: .5rem;
    border-color: var(--color-secondary);
    padding: 3rem;

}

.authorPic{
    max-height: 250px;
}

.authorHead {
    
    background-color: var(--color-light);
    background-image: url(/img/orangeFlower.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    
}



h1.title{
    font-size: 4rem !important;
}

i{
    color: var(--color-pop);
}

a:hover,
a:focus,
a:active {
    color: var(--color-secondary) !important;
    text-shadow: 0 0 .7px #FBF6F1;
}

.subtitle{
    margin-top: 3rem;
    font-size: 1.2rem;
    color: var(--color-light) !important;
    line-height: 3.5rem !important;
}


/* End Author Header*/

/* Sidebar Ovverrides*/

.widget{
    background-color: var(--color-secondary) !important;
    
}

.widget_search{
    background-image: url(/img/orangeFlower.jpg);
    overflow: hidden;
    background-size: cover;
   border-style: solid;
   border-color: var(--color-light);
}

a.inner{
    background-color: var(--color-secondary) !important;
}
/* End SideBar*/

.ck-editor__editable_inline {
    min-height: 500px;
}


a:hover,
a:focus,
a:active {
    color: var(--color-secondary) !important;
  
}

social-share-transparent:hover{
    color: var(--color-secondary);
}

.header{
    background-color: var(--color-dark) !important;

}


.ck-editor__editable_inline {
    min-height: 600px;
}

.form-check-input {
    position: relative !important;
    opacity: 1 !important;
    width: initial !important;
    height: 1rem !important;
    margin: initial !important;
}

/* Footer Overrides*/

.footer{
    background-color: var(--color-dark) !important;
    color: var(--color-light) !important;
}

.footerLogo{
    height: 100% !important;
}
/* End Footer Overrides*/